<h1 [ngStyle]="myColor"> Hello Friends, this is my first components</h1>

<input type ="text" id="txtName" [ngStyle]="myColor">

<input type ="date" id="txtName" style="color:green">
<hr> 
<h2>Attribute Directive Demo</h2>
Investment: <input type ="text"  [(ngModel)]="amount">
<h2 [ngStyle]="myInvestment"> the invest:{{amount}}</h2>

<button type="submit" (click)="ValidateMyInvestment()"> Validate</button>
<h3 [hidden]="true"> This  my hidden attribute demo</h3>
<hr>
<h2> Strucutal Directive demo</h2>
<h3 *ngIf="isHidden"> my *ngIf structural directive demo</h3>
<button type="submit" (click)="toggle()"> Toggle</button>
<hr>

<ul *ngFor="let xx of data">
<li>{{xx}}</li>
</ul>
<hr>
<table>
<tr>
<th>ROll No</th>
<th>Name</th>
<th>City</th>
</tr>
<tr *ngFor="let s of student">
<td>{{s.rollno}}</td>
<td>{{s.name}}</td>
<td>{{s.city}}</td>
</tr>
</table>
